html{
  background: #2d3e50;
  overflow: hidden;
}

body{
  display:flex;
  flex:1;
  min-height:100vh;
  align-items: center;
  justify-content: center;
}

#clock{
  height:250px;
  width:250px;
  border:17px solid #2881BA;
  background: #f2f2f2;
  border-radius: 50%;
  padding:15px;
  box-shadow: 4px 4px 41px -8px rgba(0,0,0,0.75);
}

#clock-face{
  position: relative;
  height:100%;
  width:100%;
  transform: translateY(-5px);
}

.number{
  position:absolute;
  font-family:sans-serif;
  padding:0;
  height:1em;
  font-size:2em;
  margin:auto;
  text-align: center;
}

.number12{
  top:2px;
  left:0;
  right:0;
}

.number3{
  right:2px;
  top:0;
  bottom:0;
}

.number6{
  bottom:2px;
  left:0;
  right:0;
}

.number9{
  left:2px;
  top:0;
  bottom:0;
}

.hand{
  position:absolute;
  top:50%;
  width:50%;
  height:8px;
  background: #2d3e50;
  border-radius: 5px;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.sec-hand{
  height:6px;
  background: #2881BA;
}

.hour-hand{
  width:38%;
  left:12%;
  height:10px;
  border-radius: 5px;
}

#center-point{
  position:absolute;
  height:11px;
  width:11px;
  background: #f2f2f2;
  z-index:5;
  border: 3px solid #111;
  border-radius:50%;
}

#greeting{
  position: absolute;
  font-family:arial;
  font-size:30px;
  padding:10px;
  letter-spacing: 2px;
  top:10%;
  color:#fff;
  background: #2881BA;
  border-radius:4px;
  box-shadow: 15px 15px 25px -11px rgba(0,0,0,0.75);
  animation: MoveUpDown 1s ease infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 5%;
  }
  50% {
    top: 6%;
  }
}


@media (max-width:350px){
  #clock{
    height:200px;
    width:200px;
  }

  #greeting{
    font-size:25px;
  }

  .number{
    font-size:1.6em;
  }
}


@media (max-height:450px){
  #greeting{
    display:none;
  }
}


@media (max-height:280px){
  #clock{
    height:100px;
    width:100px;
  }

  .number{
    font-size:1.5em;
  }
}
